.fondo1{
    text-align: center;
}
.espacio1{
    padding-top: 10%;
}
.espacio2{
    padding-top: 5%;
}
.espacio3{
    padding-top: 3%;
}
.producto{
    background-color: #00A1FF;
}
.tituloInicio{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
#Nada{
    width: 50%;
    height: 50%;
}
.centro{
    text-align: center;
}