*{
    box-sizing: border-box;
}
section{
  text-align:center;
}
.footer #button{
	width:5%;
	height:5%;
    border-image-source: linear-gradient(to right, #c00000 , #00A1FF);
	border-radius: 5%;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:5%;
	height:5%;
    border-image-source: linear-gradient(to right, #c00000 , #00A1FF);
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 9em;
}
.footer #container{
	margin-top:1%;
	width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
	background: lightgray;
}
.footer #cont{
    position:relative;
    top:-25%;
	width:100%;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:100%;
	float:left;
    text-align:center;
}
.footer h1{
	font-size: 200%;
    font-weight: 100;
	background: linear-gradient(to right, #c00000 35%, #00A1FF 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
    opacity: 1;
	margin-top:70px;
}